


table, tr, td, th{
    border: 1px solid rgb(170, 160, 160);
    border-collapse: collapse;
    border-spacing: none;
    padding: 15px;
    text-align: left;
    
}

body {
    margin: 0%;
    background-color: #EEF0F8;
}

.popo {
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    width: 80%;
    margin-bottom: 25px;
    
}

.middle{
    padding: 12px;
    background-color: white;
    width: 80%;
    margin-bottom: 75px;
    border-radius: 10px;
}

.jean {
    margin-inline-start: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin-block-start: 10%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #1E1E2D;
    height: 100%;
    position: fixed;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }

.topnav{
    background-color: white;
    margin-inline-start: 10%;
    margin-bottom: 25px;
    padding: 25px 25px 25px;
}

.ludo{
    margin-inline-start: 10%;
    background-color: white;
    padding: 25px 25px 25px;
}