
@font-face {
    font-family: Poppins;
    src: url("./fonts/Poppins-Regular.ttf") format("truetype")
}

body {
    background: linear-gradient(135deg, rgba(85,85,147,0.75) 0%, rgba(102,103,166,0.5)), url("img/77eba96f-451f-41a9-a880-2ccb965e1926.jpeg");
    color: rgb(255, 255, 255);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    
}

.form {
    display: block;
    background: rgba(41,41,73,0.85);
    border-radius: 5px;
    width: fit-content;
    padding: 35px;
    margin: 0 auto;
}

.dropdown {
    width: 100%;
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
}

.inputstyle {
    width: 465px;
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
}

.text {
    width: 475px;
}

.bouton {
    display: block;
    color: white;
    background-color: #37AF65;
    border: none;
    border-radius: 5px;
    width: 480px;
    height: 40px;
    margin-top: 25px;
}

.title {
    text-align: center;
    margin-top: 0px;
}

.subtitle{
    text-align: center;
}

.comment {
    margin: 20px 0 5px 0;
}

.check {
    margin: 20px 0 5px 0;
}

.feature {
    margin: 20px 0 5px 0;
}

.recommend {
    margin: 20px 0 5px 0;
}

.current {
    margin: 20px 0 5px 0;
}

.age{
    margin: 20px 0 5px 0;
}

.mail{
    margin: 20px 0 5px 0;
}

.name{
    margin: 20px 0 5px 0;
}